In [3]:
import pandas as pd

# Read CSV file
df = pd.read_csv("Coffe_sales .csv")

# Display first 10 rows
print(df.head(10))

# Get dataset information
print(df.info())

# Check for missing values
print(df.isnull())

   hour_of_day cash_type  money          coffee_name Time_of_Day Weekday  \
0          NaN      card   38.7                Latte     Morning     Fri
1          NaN      card   38.7        Hot Chocolate   Afternoon     Fri
2          NaN      card   38.7        Hot Chocolate   Afternoon     Fri
3          NaN      card   28.9            Americano   Afternoon     Fri
4          NaN      card   38.7                Latte   Afternoon     Fri
5          NaN      card   33.8  Americano with Milk   Afternoon     Fri
6          NaN      card   38.7        Hot Chocolate   Afternoon     Fri
7          NaN      card   33.8  Americano with Milk       Night     Fri
8          NaN      card   38.7                Cocoa       Night     Fri
9          NaN      card   33.8  Americano with Milk       Night     Fri

  Month_name  Weekdaysort  Monthsort        Date     Time
0        Mar          NaN        3.0  01-03-2024  15:50.5
1        Mar          5.0        3.0  01-03-2024  19:22.5
2        Mar          5.0        3.0  01-03-2024  20:18.1
3        Mar          5.0        3.0  01-03-2024  46:33.0
4        Mar          5.0        3.0  01-03-2024  48:14.6
5        Mar          NaN        3.0  01-03-2024  39:47.7
6        Mar          5.0        NaN  01-03-2024  19:02.8
7        Mar          5.0        NaN  01-03-2024  39:03.6
8        Mar          5.0        NaN  01-03-2024  22:01.8
9        Mar          5.0        NaN  01-03-2024  23:15.9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3498 non-null   float64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3531 non-null   float64
 8   Monthsort    3530 non-null   float64
 9   Date         3547 non-null   object
 10  Time         3547 non-null   object
dtypes: float64(4), object(7)
memory usage: 207.9+ KB
None
      hour_of_day  cash_type  money  coffee_name  Time_of_Day  Weekday  \
0            True      False  False        False        False    False
1            True      False  False        False        False    False
2            True      False  False        False        False    False
3            True      False  False        False        False    False
4            True      False  False        False        False    False
...           ...        ...    ...          ...          ...      ...
3542        False      False  False        False        False    False
3543        False      False  False        False        False    False
3544        False      False  False        False        False    False
3545        False      False  False        False        False    False
3546        False      False  False        False        False    False

      Month_name  Weekdaysort  Monthsort   Date   Time
0          False         True      False  False  False
1          False        False      False  False  False
2          False        False      False  False  False
3          False        False      False  False  False
4          False        False      False  False  False
...          ...          ...        ...    ...    ...
3542       False        False      False  False  False
3543       False        False      False  False  False
3544       False        False      False  False  False
3545       False        False      False  False  False
3546       False        False      False  False  False

[3547 rows x 11 columns]